<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body style=" border-radius: 10px;" [ngStyle]="{ 'background-color': isDarkTheme ? '#1E1F1E' : 'white' }">
  <div class="login-div">
    <div class="login-header">

      <h1>Forgot Password ?</h1>
      <p>Please enter your email. You will receive a link to reset your password.</p>
    </div>



    <div class="loginDiv">

      <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">


        <div nz-row style="display: flex;justify-content: space-evenly;text-align: start;">

          <div nz-col class="passinputs">
            <nz-form-item>
              <nz-form-label style="font-weight: 700;" nzRequired nzFor="email" nzRequired>Email</nz-form-label>
              <nz-form-control nzErrorTip="The input is not valid E-mail!">
                <input style="border-radius: 5px;
                      " nzSize="large" nz-input formControlName="email" id="email" placeholder="Email" />
              </nz-form-control>
            </nz-form-item>
          </div>

        </div>




        <div nz-row style="display: flex;justify-content: space-evenly;text-align: start;">
          <div class="passinputs">
            <button nz-button class="login-form-button login-form-margin" [disabled]="!isEmailValid()"
              [nzType]="'primary'" (click)="forgotpassword()">Submit</button>

          </div>
        </div>
      </form>




    </div>





    <div (click)="goTologin()"
      style="display: flex;align-items: center;justify-content: center;cursor: pointer;color: #3194a0;margin-top: 30px;">
      <span nz-icon nzType="arrow-left"></span>&nbsp;
      Back to Login
    </div>

  </div>


</body>

</html>