<div class="main-body" *ngIf="isAssesmentCompleted === false && isAssesmentStarted === true"
    [ngStyle]="{ 'background-color': isDarkTheme ? '#161616' : 'white' }">
    <div class="Assesment-container" *ngIf="isAssesmentCompleted === false && isAssesmentStarted === true">

        <div class="informative-container">

            <div style="display: flex;justify-content: space-between;">
                <div
                    style="width: 100%; height: 100%; flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 4px; display: inline-flex">
                    <div
                        style="align-self: stretch; justify-content: flex-start; align-items: center; gap: 43px; display: inline-flex">
                        <div
                            style="flex-direction: column; justify-content: flex-start; align-items: flex-start; gap: 28px; display: inline-flex">
                            <div
                                style="align-self: stretch; justify-content: space-between; align-items: center; display: inline-flex">
                                <div [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }"
                                    style=" font-size: 18px; font-family: Calibri; font-weight: 700; line-height: 25.20px; word-wrap: break-word">
                                    Total {{totalQuestions}} Questions</div>
                            </div>
                        </div>
                    </div>
                    <div><span [ngStyle]="{ 'color': isDarkTheme ? '#e0e0e8' : '#333333' }"
                            style=" font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">All
                            questions are mandatory to answer </span><span
                            style="color: #EB5757; font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">*</span>
                    </div>
                </div>

                <span [ngClass]="{'circle pulse': isPulsating}">
                    <nz-progress [nzStrokeWidth]="10" [nzPercent]="(((TimeCounter * 1.65)) / 100) * 100" nzType="circle"
                        nzTitle="3 done" [nzFormat]="formatOne" [nzStatus]="timerStatus" [nzWidth]="60"></nz-progress>
                </span>




            </div>

            <div style="display: flex; justify-content: space-between;margin: 15px 0px;">
                <div>
                    <div><span [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }"
                            style=" font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">Question</span><span
                            style=" font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">
                        </span><span
                            style="color: #3194A0; font-size: 20px; font-family: Calibri; font-weight: 700; line-height: 28px; word-wrap: break-word;margin-left: 5px;">{{currentQuestionIndex
                            + 1}}</span><span
                            style="color: #828282; font-size: 16px; font-family: Calibri; font-weight: 400; line-height: 22.40px; word-wrap: break-word">/{{totalQuestions}}</span>
                    </div>
                </div>

                <!-- <span style="text-align: center;">
          Attempt Remaining: {{attempt - 1}}
        </span> -->
            </div>

        </div>
        <div class="question-container" *ngFor="let questions of currentQuestion">
            <div class="question-heading">
                <h2 [ngStyle]="{ 'color': isDarkTheme ? 'white' : 'black' }">{{questions.question}}</h2>
            </div>
            <div class="answer-container">
                <form [formGroup]="buttonSizeForm">



                    <div *ngIf="questions.questionType === 'MCQ'">

                        <div class="mcq">
                            <div class="top2btns">
                                <div class="topbtns">
                                    <div class="questionoptbtn" #buttonA (click)="selectOptionmcq(questions.optionA)"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionA">
                                        <div [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionA}"
                                            class="questionoptbtn1">A</div>
                                        <span class="optionvalue">{{questions.optionA}}</span>
                                    </div>
                                </div>

                                <div class="topbtns">
                                    <div class="questionoptbtn" #buttonB (click)="selectOptionmcq(questions.optionB)"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionB">
                                        <div [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionB}"
                                            class="questionoptbtn1">B</div>
                                        <span class="optionvalue">{{questions.optionB}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="top2btns">
                                <div class="topbtns">
                                    <div class="questionoptbtn" #buttonC (click)="selectOptionmcq(questions.optionC)"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionC">
                                        <div [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionC}"
                                            class="questionoptbtn1">C</div>
                                        <span class="optionvalue">{{questions.optionC}}</span>
                                    </div>
                                </div>

                                <div class="topbtns">
                                    <div class="questionoptbtn" #buttonD (click)="selectOptionmcq(questions.optionD)"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="buttonSizeForm.get('radioValue')?.value === questions.optionD">
                                        <div [ngClass]="{'selected': buttonSizeForm.get('radioValue')?.value === questions.optionD}"
                                            class="questionoptbtn1">D</div>
                                        <span class="optionvalue">{{questions.optionD}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>






                    </div>


                    <div *ngIf="questions.questionType === 'MCA'">


                        <div style="display: flex; flex-direction: column; gap: 32px;width: 100%;">


                            <div class="top2btns">
                                <div class="topbtns">
                                    <div class="questionoptbtn"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="isSelected(questions.optionA)"
                                        (click)="selectOption(questions.optionA)">
                                        <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionA)"
                                            [ngStyle]="{ 'border-color': isDarkTheme ? '#333333 ' : '#e0e0e8' }"
                                            (click)="selectOption(questions.optionA)">A</div>
                                        <input type="radio" id="optionA" formControlName="radioValue" [value]="'A'"
                                            style="display: none" />
                                        <span style="font-size: 16px;
                            font-family: Calibri;
                            font-weight: 400;" for="optionA">{{questions.optionA}}</span>
                                    </div>
                                </div>

                                <div class="topbtns">
                                    <div class="questionoptbtn"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="isSelected(questions.optionB)"
                                        (click)="selectOption(questions.optionB)">
                                        <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionB)"
                                            [ngStyle]="{ 'border-color': isDarkTheme ? '#333333 ' : '#e0e0e8' }"
                                            (click)="selectOption(questions.optionB)">B</div>

                                        <input type="radio" id="optionB" formControlName="radioValue" [value]="'B'"
                                            style="display: none" />
                                        <span style="font-size: 16px;
                            font-family: Calibri;
                            font-weight: 400;" for="optionB">{{questions.optionB}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="top2btns">

                                <div class="topbtns">

                                    <div class="questionoptbtn"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="isSelected(questions.optionC)"
                                        (click)="selectOption(questions.optionC)">
                                        <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionC)"
                                            [ngStyle]="{ 'border-color': isDarkTheme ? '#333333 ' : '#e0e0e8' }"
                                            (click)="selectOption(questions.optionC)">C</div>

                                        <input type="radio" id="optionC" formControlName="radioValue" [value]="'C'"
                                            style="display: none" />
                                        <span style="font-size: 16px;
                            font-family: Calibri;
                            font-weight: 400;" for="optionC">{{questions.optionC}}</span>
                                    </div>
                                </div>

                                <div class="topbtns">

                                    <div class="questionoptbtn"
                                        [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                        [class.selected]="isSelected(questions.optionD)"
                                        (click)="selectOption(questions.optionD)">
                                        <div class="questionoptbtn1" [class.selected]="isSelected(questions.optionD)"
                                            [ngStyle]="{ 'border-color': isDarkTheme ? '#333333 ' : '#e0e0e8' }"
                                            (click)="selectOption(questions.optionD)">D</div>

                                        <input type="radio" id="optionD" formControlName="radioValue" [value]="'D'"
                                            style="display: none" />
                                        <span style="font-size: 16px;
                            font-family: Calibri;
                            font-weight: 400;" for="optionD">{{questions.optionD}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="margin-top: 20px;"> <span
                                [ngStyle]="{ 'color': isDarkTheme ? 'white ' : '#333333' }"
                                style="color: #3194A0; font-size: 16px; font-family: Calibri; font-weight: 700; line-height: 22.40px; word-wrap: break-word"><i>This
                                    Question has Multiple Answers.
                                    Select all the correct options</i></span></div>

                    </div>



                    <div *ngIf="questions.questionType === 'True/False'">


                        <div style="display: flex; gap: 32px;">
                            <div class="questionoptbtn"
                                [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                (click)="selectOptiontf(questions.optionA)"
                                [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionA"
                                [ngStyle]="{ 'border-color': isDarkTheme ? '#333333 ' : '#e0e0e8' }">
                                <div class="questionoptbtn1"
                                    [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionA">A
                                </div>
                                <input type="radio" id="optionA" formControlName="booleanValue" [value]="'A'"
                                    style="display: none" />
                                <span style="font-size: 16px;
                          font-family: Calibri;
                          font-weight: 400;" for="optionA">{{questions.optionA}}</span>
                            </div>

                            <div class="questionoptbtn"
                                [ngStyle]="{ 'width.px': buttonWidth,'height': getButtonHeight(questions.MaxLength) }"
                                (click)="selectOptiontf(questions.optionB)"
                                [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionB"
                                [ngStyle]="{ 'border-color': isDarkTheme ? '#333333 ' : '#e0e0e8' }">
                                <div class="questionoptbtn1"
                                    [class.selected]="buttonSizeForm.get('booleanValue')?.value === questions.optionB">B
                                </div>

                                <input type="radio" id="optionB" formControlName="booleanValue" [value]="'B'"
                                    style="display: none" />
                                <span style="font-size: 16px;
                          font-family: Calibri;
                          font-weight: 400;" for="optionB">{{questions.optionB}}</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="assesmentbtns" style="display: flex;justify-content: center;gap:15px ;">
                <button nz-button (click)="goBackToCourse()">Cancel</button>
                <button nz-button nzType="primary" (click)="nextQuestion(questions)"
                    *ngIf="currentQuestionIndex < totalQuestions -1">Next</button>
                <button nz-button nzType="primary" (click)="onSubmit(questions)"
                    *ngIf="currentQuestionIndex === totalQuestions -1">Submit</button>
            </div>
        </div>
    </div>


</div>

<div class="result" *ngIf="isAssesmentCompleted === true">
    <!-- *-->


    <div class="test-body" style="width: 100%;">

        <div *ngFor="let index of groupedQuestions.keys()" style="width: 100%;">
            <div *ngFor="let questions of questionArray.get(index);" style="width: 100%;">
                <form [formGroup]="resultForm" style="margin-bottom: 30px;">
                    <div style="width: 100%;">
                        <h2 class="assesmentcmpltque">Q.{{questions}}</h2>
                        <div class="attemptsbox"
                            style="width: 100%; display:flex; overflow-x: auto;padding-bottom: 10px;margin-bottom: 10px;gap: 25px;">
                            <div *ngFor="let questions of groupedQuestions.get(index);" [ngStyle]="{
                                'width': 'fit-content',
                                'min-width': '300px',
                                'border':  questions.selectedAnswer != questions.correctAnswer ? '1px solid #a03e31' : '1px solid #3194A0',
                                
                                'padding': '10px',
                                'border-radius': '15px',
                                'background-color': questions.selectedAnswer != questions.correctAnswer ? '#a03e3136' : '#3195a02d'
                              }">

                                <div>
                                    <label style="font-size: 16px;"><span
                                            style="font-weight: 700;margin-left: 10px;color: #3194A0;">Attempt
                                            No: </span>{{ (questions.attempts )
                                        }}</label>
                                </div>
                                <!-- <h2 class="assesmentcmpltque">Q.{{questions.question}}</h2> -->
                                <div *ngIf="questions.questionType == 'MCQ'" style="width: 100%;padding: 5px;">
                                    <div>
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="radio"
                                                    [value]="'A'"
                                                    [checked]="questions.selectedAnswer == questions.optionA" />
                                                {{ questions.optionA }}
                                            </label>
                                        </div>
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;text-align:start;"
                                                disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="radio"
                                                    [value]="'B'"
                                                    [checked]="questions.selectedAnswer === questions.optionB" />
                                                {{ questions.optionB }}
                                            </label>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="radio"
                                                    [value]="'C'"
                                                    [checked]="questions.selectedAnswer ===  questions.optionC" />
                                                {{ questions.optionC }}
                                            </label>
                                        </div>
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;text-align:start;"
                                                disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="radio"
                                                    [value]="'D'"
                                                    [checked]="questions.selectedAnswer === questions.optionD" />
                                                {{ questions.optionD }}
                                            </label>
                                        </div>
                                    </div>

                                    <div style="margin-top: 20px;display: flex;justify-content: space-between;">
                                        <div>
                                            <label style="font-size: 16px;"><span
                                                    style="font-weight: 700;color: #3194A0;">Correct Answer:
                                                </span>{{
                                                questions.correctAnswer }}</label>
                                        </div>
                                    </div>
                                </div>


                                <div *ngIf="questions.questionType === 'MCA'" style="width: 100%;padding: 5px;">
                                    <div>
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="checkbox"
                                                    [value]="'A'"
                                                    [checked]="questions.selectedAnswer[0] == questions.optionA || questions.selectedAnswer[1] == questions.optionA || questions.selectedAnswer[2] == questions.optionA || questions.selectedAnswer[3] == questions.optionA" />
                                                {{ questions.optionA }}
                                            </label>
                                        </div>
                                        <!-- Repeat this for other options (B, C, D) -->
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="checkbox"
                                                    [value]="questions.optionB"
                                                    [checked]="questions.selectedAnswer[0] == questions.optionB || questions.selectedAnswer[1] == questions.optionB ||questions.selectedAnswer[2] == questions.optionB ||questions.selectedAnswer[3] == questions.optionB" />
                                                {{ questions.optionB }}
                                            </label>
                                        </div>
                                    </div>
                                    <!-- Repeat this for other options (B, C, D) -->
                                    <div>
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="checkbox"
                                                    [value]="'C'"
                                                    [checked]="questions.selectedAnswer[0] == questions.optionC || questions.selectedAnswer[1] == questions.optionC || questions.selectedAnswer[2] == questions.optionC || questions.selectedAnswer[3] == questions.optionC" />
                                                {{ questions.optionC }}
                                            </label>
                                        </div>
                                        <!-- Repeat this for other options (B, C, D) -->
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="checkbox"
                                                    [value]="'D'"
                                                    [checked]="questions.selectedAnswer[0] == questions.optionD || questions.selectedAnswer[1] == questions.optionD || questions.selectedAnswer[2] == questions.optionD || questions.selectedAnswer[3] == questions.optionD" />
                                                {{ questions.optionD }}
                                            </label>
                                        </div>
                                    </div>
                                    <div style="margin-top: 20px;display: flex;justify-content: space-between;">
                                        <label style="font-size: 16px;"><span
                                                style="font-weight: 700;color: #3194A0;">Correct Answer:
                                            </span>{{
                                            questions.correctAnswer }}</label>

                                    </div>
                                </div>

                                <div *ngIf="questions.questionType === 'True/False'">

                                    <div>
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="radio"
                                                    [value]="'A'"
                                                    [checked]="questions.selectedAnswer == questions.optionA" />
                                                {{ questions.optionA }}
                                            </label>
                                        </div>
                                        <!-- Repeat this for other options (B) -->
                                        <div style="text-align: start;">
                                            <label style="font-size: 18px;margin-left: 10px;" disabled="true">
                                                <input style="font-size: 18px;" disabled="true" type="radio"
                                                    [value]="'B'"
                                                    [checked]="questions.selectedAnswer ==  questions.optionB " />
                                                {{ questions.optionB }}
                                            </label>
                                        </div>
                                    </div>
                                    <div style="margin-top: 20px;display: flex;justify-content: space-between;">
                                        <label style="font-size: 16px;"><span
                                                style="font-weight: 700;color: #3194A0;">Correct Answer:
                                            </span>{{
                                            questions.correctAnswer }}
                                        </label>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </form>
            </div>
        </div>

    </div>


    <div class="test-dashboard" style="text-align: center;display: flex;justify-content: center;">

        <div style="display:flex; justify-content:center;text-align: center;">
            <button nz-button nzType="primary" (click)="goBackToCourse()">Back To Course </button>
            <!-- <button nz-button nzType="primary">Retake Assessment</button> -->
        </div>
    </div>
</div>


<div class="result-container" *ngIf="isAssesmentCompleted === false && isAssesmentStarted === false">
    <div class="rule-container">
        <div class="rule-header">
            <h1>Assessment Guidelines</h1>
        </div>
        <div class="rule-content">
            <div style="gap: 10px;display: flex;flex-direction: column;">
                <div style=" display: flex; justify-content: flex-end;">

                    <h2 style="border-radius: 5px;padding: 8px 12px;" [style.background-color]="attemptColor"><span
                            style="color: white;"> {{AssessmentAttempts + 1}}{{noAbbrevation}} Attempt</span>
                    </h2>

                </div>
                <div>
                    <h2>Setup and Preparation:
                    </h2>
                    <ul class="list-bullets">
                        <li>Internet & Browser: Secure a stable internet connection. Use a trusted browser like Chrome
                            or Firefox.
                        </li>
                        <li>Environment: Choose a quiet space free from interruptions.</li>
                    </ul>
                </div>
                <div>
                    <h2>During the Assessment:
                    </h2>
                    <ul class="list-bullets">
                        <li>Stay Focused: Remain on the assessment page. Avoid opening new tabs or windows.</li>
                        <li>Instructions: Carefully follow all directions displayed on your screen.</li>

                    </ul>
                </div>
                <div>
                    <h2>Scoring and Question Format:
                    </h2>
                    <ul class="list-bullets">
                        <li>Scoring Policy: Note that each attempt at answering may reduce your total score.</li>
                        <li>Question Types: Expect a mix of Multiple-Choice Questions (MCQs), Multiple Correct Answers
                            (MCAs), and
                            True/False questions.</li>
                    </ul>
                </div>
                <div>
                    <h2>Time Per Question:
                    </h2>
                    <ul class="list-bullets">
                        <li>Allocation: Allocated 1 minute per question for answering.</li>
                    </ul>
                </div>

                <div>
                    <h2>Finalizing Your Assessment:
                    </h2>
                    <ul class="list-bullets">
                        <li>Submission: Complete and submit all answers before time runs out.</li>
                        <li>Confirmation: Ensure you receive a submission confirmation before exiting the assessment
                            page.</li>
                    </ul>
                </div>
                <div>
                    <h2>Ethical Conduct:
                    </h2>
                    <ul class="list-bullets">
                        <li>Honesty Policy: Adhere strictly to academic integrity. Cheating or Plagiarism will lead to
                            disqualification.
                        </li>
                    </ul>
                </div>


            </div>

            <div class="rule-action">
                <button style="display: flex;justify-content: center;" nz-button
                    (click)="goBackToCourse()">Cancel</button>
                <button style="display: flex;justify-content: center;" nz-button nzType="primary"
                    (click)="startAssesments()" *ngIf="!isAssesmentExist && currentPendingAssessment?.length == 0">Start
                    Assesment</button>
                <button style="display: flex;justify-content: center;" nz-button nzType="primary"
                    (click)="resumeAssesments()"
                    *ngIf="!isAssesmentExist && currentPendingAssessment?.length > 0">Resume Assesment</button>
                <!-- <button nz-button nzType="primary" (click)="retakeAssessment()" *ngIf="isAssesmentExist">Retake
          Assessment</button> -->
            </div>
        </div>
    </div>
</div>


<nz-modal [nzWidth]="700" [(nzVisible)]="isResultVisible" nzCentered [nzFooter]="modalFooter" nzCancelText="null">
    <ng-container *nzModalContent>
        <img src="assets/icons/assessmentcompleted.svg" alt="">

        <div style="margin: 20px 0px;">
            <div [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }"
                style=" font-size: 24px; font-family: Calibri; font-weight: 700; line-height: 33.60px; word-wrap: break-word">
                Assessment Submitted Successfully</div>
            <div [ngStyle]="{ 'color': isDarkTheme ? '#c0c0c0' : '#333333' }"
                style="width: 100%; text-align: center; color: #4F4F4F; font-size: 18px; font-family: Calibri; font-weight: 400; word-wrap: break-word">
                You have successfully submitted the assessment. Your result is ready.</div>
        </div>

        <div
            style="background-color: rgba(49, 148, 160, 0.10);display: flex;justify-content: space-between;padding: 12px;border-radius: 10px;">

            <div style="display: flex;flex-direction: column;">
                <div class="count" [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }"><span nz-icon style="color: #97a031;margin-right: 8px;
" nzType="question-circle" nzTheme="fill"></span> {{totalQuestionCount}}</div>
                <div class="counttext" [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }">Total Questions</div>
            </div>

            <div style="display: flex;flex-direction: column;">
                <div class="count" [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }"><span nz-icon style="color: #3194A0;margin-right: 8px;
" nzType="check-circle" nzTheme="fill"></span>{{AssessmentAttempts + 1}} </div>
                <div class="counttext" [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }">Attempts</div>
            </div>

            <div style="display: flex;flex-direction: column;">
                <div class="count" [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }"><span style="color: #FFC618;margin-right: 8px;
" nz-icon nzType="star" nzTheme="fill"></span>{{this.points.toFixed(0)}}</div>
                <div class="counttext" [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }">Score Obtained</div>
            </div>


        </div>

    </ng-container>

    <ng-template #modalFooter>

        <div class="modalbuttons">
            <button class="modalcancel" (click)="reviewTest()" style="color: black;">Review Test</button>
            <button nz-button nzType="primary" (click)="goBackToCourse()"
                style="text-align: center;display: flex;justify-content: center;"><span>Back To Course </span></button>
            <!-- <button style="background-color: #3194A0;color: white;" (click)="gotoRatings()">Continue</button> -->
        </div>
    </ng-template>
</nz-modal>


<nz-modal [(nzVisible)]="isRatingVisible" nzTitle="Add Rating & Review" nzCentered [nzFooter]="modalFooter2">
    <ng-container *nzModalContent>
        <nz-rate class="large" [(ngModel)]="ratingValue" [nzTooltips]="tooltips"></nz-rate>

        <div style="margin: 15px 0px;">
            <div style="margin-bottom: 10px;"><span [ngStyle]="{ 'color': isDarkTheme ? 'white' : '#333333' }"
                    style="font-size: 16px; font-family: Calibri; font-weight: 700; line-height: 22.40px; word-wrap: break-word">Write
                    Feedback </span><span
                    style="color: #BDBDBD; font-size: 16px; font-family: Calibri; font-style: italic; font-weight: 700; line-height: 22.40px; word-wrap: break-word">(Optional)</span>
            </div>
            <textarea nz-input
                placeholder="What's your personal experience while taking this course? What did you think of it?"
                [nzAutosize]="{ minRows: 5}" [(ngModel)]="feedValue">
    </textarea>

        </div>
        <!-- <button nz-button nzType="primary" (click)="submitFeedback()">Submit</button> -->
    </ng-container>
    <ng-template #modalFooter2>

        <div class="modalbuttons">
            <button class="modalcancel" (click)="handleCancel()">Cancel</button>
            <button style="background-color: #3194A0;color: white;" (click)="submitFeedback()">Submit</button>
        </div>
    </ng-template>


</nz-modal>